{% extends "base.html" %}

{% block title %}
My Blog
{% endblock %}

{% block content %}
<header id="main-navogation">
    <h1><a href="">Manavi's Blog</a></h1>
    <nav>
        <a href="">All Posts</a>
    </nav>
</header>

<section id="welcome">
 <header>
    <img src="" alt="Manavi-the author of this blog">
    <h2>MANAVI'S BLOG</h2>
    <p>Hi, I am Manavi and I love to log about tech and the world!</p>
 </header>
</section>
<section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
        <li>
            <article class="post">
                <a href="">
                <img src="" alt="Mountain Hiking"/>
                <div>
                    
                </div>
            </a>
            </article>
        </li>
    </ul>

</section>
<!-- <h2>Welcome to my blog</h2> -->
{% endblock %}