{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}
<header id="main-navigation">
    <h1><a href="">Manavi's Blog</a></h1>
    <nav>
        <a href="">All Posts</a>
    </nav>
</header>

<section id="welcome">
 <header>
    <img src="" alt="Manavi-the author of this blog">
    <h2>MANAVI'S BLOG</h2>
    <p>Hi, I am Manavi and I love to blog about tech and the world!</p>
 </header>
</section>
<section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
        <li>
            <article class="post">
                <a href="">
                <img src="" alt="Mountain Hiking"/>
                <div class="post__content">
                    <h3>Mountain Hiking</h3>   
                </div>
            </a>
            </article>
        </li>
    </ul>

</section>

<section id="about">
 <h2>What Do I Do</h2>
 <p>I love programming, I love to help others and I enjoy exploring new technologies in general</p>
</section>
{% endblock %}